<form>
  <br>
  <p-panel header="PLANTILLAS">
    <p>
      <b>Nota:</b> Click en un registro para crear un CASO.</p>
    <p-table #dt [columns]="cols" [value]="listTabla" selectionMode="single" [responsive]="true"
      [(selection)]="selectProceso" (onRowSelect)="selectItem($event)" [paginator]="true" [totalRecords]="totalRecords"
      [rows]="paginado" [loading]="loading">
      <ng-template pTemplate="caption">
        <div class="ui-g">
          <div class="ui-g-4" style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogAdd()" label="Añadir Plantilla"></button>
          </div>
          <div class="ui-g-4" style="text-align: right">
            <div class="ui-g-9">
              <label>Paginado: *</label>
            </div>
            <div class="ui-g-3">
              <input pInputText type="number" id="paginado" [(ngModel)]="paginado" name="paginado"
                class="form-control  input-sm" min="3" (ngModelChange)="validarPaginado()" required>
            </div>
          </div>
          <div class="ui-g-4" style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="auto" placeholder="Buscar"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.label}}</td>
          <td>{{rowData.descripcion}}</td>
          <td><button pButton type="button" (click)="cargarFlujo(rowData)" icon="fa fa-edit"
              class="ui-button-success"></button></td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        Existen {{listTabla?.length}} plantillas
      </ng-template>
    </p-table>
  </p-panel>
</form>

<p-dialog header="NUEVO CASO" [(visible)]="showDialogMod" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="1200" [closable]="false">
  <!--  [height]="700" -->
  <div class="ui-g ui-fluid" *ngIf="casoTree">
    <div class="ui-g-12">
      <p-tree [value]="casoTree" layout="horizontal" selectionMode="single" [(selection)]="selectNode"
        (onNodeSelect)="selectNodo($event)" (onNodeExpand)="loadNode($event)" (onNodeCollapse)="loadNode($event)">
      </p-tree>
    </div>
  </div>

  <button pButton type="button" (click)="saveCaso()" label="Generar Caso" icon="fa fa-save"
    [disabled]="blockBotones.guardarCaso"></button>
  <button pButton type="button" (click)="expandAll()" [disabled]="banOpen" label="Expandir" icon="fa fa-arrows"
    class="ui-button-success" [disabled]="blockBotones.expandir"></button>
  <button pButton type="button" (click)="collapseAll()" [disabled]="banClose" label="Contraer" icon="fa fa-compress"
    class="ui-button-success" [disabled]="blockBotones.contraer"></button>
  <button pButton type="button" (click)="exitArbol()" label="Cancelar" icon="fa fa-close" class="ui-button-danger"
    [disabled]="blockBotones.cancelar"></button>
</p-dialog>

<p-dialog header="NUEVA PLANTILLA" [(visible)]="showDialogIng" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="1200" [closable]="false">
  <!--  [height]="700" -->
  <div class="ui-g ui-fluid" *ngIf="casoTreeNew">
    <div class="ui-g-12">
      <p><b>Nota: </b>Seleccione un nodo para modificar o agregar.</p>
      <p-tree [value]="casoTreeNew" layout="horizontal" selectionMode="single" [(selection)]="selectNode"
        (onNodeSelect)="selectNodoIng($event)" (onNodeExpand)="loadNodeIng($event)"></p-tree>
    </div>
  </div>
  <button pButton type="button" (click)="saveFlujo()" label="Guardar" icon="fa fa-save"
    [disabled]="blockBotones.guardarCaso"></button>
  <!-- 
  <button pButton type="button" (click)="expandAll()" label="Expandir" class="ui-button-success" [disabled]="blockBotones.expandir"></button>
  <button pButton type="button" (click)="collapseAll()" label="Contraer" class="ui-button-danger" [disabled]="blockBotones.contraer"></button> -->
  <button pButton type="button" (click)="exitArbol()" label="Cancelar" icon="fa fa-close " class="ui-button-danger"
    [disabled]="blockBotones.cancelar"></button>
</p-dialog>

<p-dialog header="MODIFICAR" [(visible)]="showDialogIngNodo" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="500" [closable]="false">
  <div class="ui-g ui-fluid" *ngIf="node">
    <div class="ui-g-11 ui-md-11">
      <label>Etiqueta: *</label>
      <input pInputText id="etiqueta" type="text" [(ngModel)]="nodeNew.label" name="etiqueta"
        (ngModelChange)="verificaEtiqueta()" class="form-control input-sm">
    </div>
    <div class="ui-g-11 ui-md-11">
      <label>Descripción de la diligencia: *</label>
      <textarea id="dato" [(ngModel)]="nodeNew.data.descripcion" name="dato" rows="2" cols="44"
        pInputTextarea></textarea>
    </div>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-close" (click)="exit()" label="Cancelar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-trash" (click)="deleteNodoIng()" label="Quitar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-plus-square" (click)="addNodoIng()" label="Añadir"
      class="ui-button-success"></button>
    <button type="button" pButton icon="fa fa-save" (click)="updateNodoIng()" label="Guardar"
      [(disabled)]="activaBotonGuardaNodoFlujo"></button>
  </div>
</p-dialog>

<p-dialog header="MODIFICAR DILIGENCIA" [(visible)]="showDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="850" [closable]="false">
  <div class="ui-g ui-fluid" *ngIf="node">
    <div class="ui-g ui-md">
      <div class="ui-g-3 ui-md-3">
        <label>Fecha inicio: *</label><br>
        <p-calendar id="fechaInicio" name="fechaInicio" [locale]="es" [(ngModel)]="fechaInicio" [showIcon]="true"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
          [disabledDays]="[0,7]" readonlyInput="true"></p-calendar>
      </div>
      <div class="ui-g-4 ui-md-4">
        <label>Cliente: *</label>
        <p-dropdown id="cliente" name="cliente" [options]="listCliente" [(ngModel)]="selectCliente" optionLabel="nombre"
          [showClear]="true" filter="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>No. Carpeta: *</label>
        <input pInputText type="number" id="numCarpeta" [(ngModel)]="selectCliente.numeroCarpeta" name="numCarpeta"
          class="form-control input-sm" disabled>
      </div>
      <div class="ui-g-3 ui-md-3">
        <label>Número caso: *</label>
        <input id="etiqueta" type="text" pInputText [(ngModel)]="info.label" name="etiqueta"
          class="form-control  input-sm">
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>Precio: *</label>
        <p-spinner size="30" [(ngModel)]="info.data.precio" [min]="0" [max]="100000000"
          onkeypress='return event.charCode >= 48 && event.charCode <= 57'></p-spinner>
      </div>
      <div class="ui-g-3 ui-md-3">
        <label>Abogado: *</label>
        <p-dropdown id="abogado" name="abogado" [options]="listAbogado" [(ngModel)]="selectAbogado" optionLabel="nombre"
          [showClear]="true" filter="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
      </div>
      <div class="ui-g-3 ui-md-3">
        <label>Estado: *</label>
        <p-dropdown id="estado" name="estado" [options]="listEstado" [(ngModel)]="selectEstado" optionLabel="estado"
          [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>Hora inicio: *</label>
        <p-dropdown id="horaInicio" name="horaInicio" [options]="listHoras" [(ngModel)]="selectHoraIni"
          optionLabel="hora" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="200px"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>Ing. Actividad:</label>
        <p-checkbox id="ingAct" name="ingAct" [(ngModel)]="info.data.ingresar_actividad" binary="true">
        </p-checkbox>
        <label>Ingresar</label>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="visibleCampos.campoObserAdmin">
        <label>Observación Administrador: </label>
        <textarea id="obserAdmin" [(ngModel)]="info.data.descripcion_Administrador" name="obserAdmin" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionAdmin" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Observación abogado: </label>
        <textarea id="obserAbogado" [(ngModel)]="info.data.descripcion_abogado" name="obserAbogado" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionAbogado" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Observación cliente: </label>
        <textarea id="obserCliente" [(ngModel)]="info.data.descripcion_cliente" name="obserCliente" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionCliente" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Descripción de la diligencia: </label>
        <textarea id="descripDilig" [(ngModel)]="info.data.descripcion" name="descripDilig" rows="2" cols="82"
          pInputTextarea disabled></textarea>
      </div>
    </div>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-close" (click)="exitForm()" label="Cancelar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-trash" (click)="deleteNodo()" label="Quitar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-plus-square" (click)="addNodo()" label="Añadir"
      class="ui-button-success"></button>
    <button type="button" pButton icon="fa fa-save" (click)="updateNodo()" label="Guardar"
      [(disabled)]="activaBotonGuardarNodo"></button>
    <!-- <button type="button" pButton icon="fa fa-envelope" (click)="enviarMail()" label="Email"></button> -->
    <button type="button" pButton icon="fa fa-image" (click)="showFormImagenes()" label="Añadir imágenes"></button>
  </div>
</p-dialog>

<p-dialog header="MODIFICAR DILIGENCIA" [(visible)]="showDialogHijos" [responsive]="true" showEffect="fade"
  [modal]="true" [width]="850" [closable]="false">
  <div class="ui-g ui-fluid" *ngIf="node">
    <div class="ui-g ui-md">
      <div class="ui-g-4 ui-md-4">
        <label>Fecha Inicio: *</label><br>
        <p-calendar id="fechaInicio" name="fechaInicio" [locale]="es" [(ngModel)]="fechaInicio" [showIcon]="true"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
          [disabledDays]="[0,7]" readonlyInput="true" (onSelect)="validarFecha()"></p-calendar>
      </div>
      <div class="ui-g-4 ui-md-4">
        <label>Fecha Fin: *</label>
        <p-calendar id="fechaFin" name="fechaFin" [locale]="es" [(ngModel)]="fechaFin" [showIcon]="true"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
          [disabledDays]="[0,7]" readonlyInput="true" (onSelect)="validarFecha()"></p-calendar>
      </div>
      <div class="ui-g-4 ui-md-4">
        <label>Descripción: *</label>
        <input id="etiqueta" type="text" pInputText [(ngModel)]="info.label" name="etiqueta"
          class="form-control  input-sm">
      </div>
      <div class="ui-g-4 ui-md-4">
        <label>Abogado: *</label>
        <p-dropdown id="abogado" name="abogado" [options]="listAbogado" [(ngModel)]="selectAbogado" optionLabel="nombre"
          [showClear]="true" filter="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
      </div>
      <div class="ui-g-4 ui-md-4">
        <label>Estado: *</label>
        <p-dropdown id="estado" name="estado" [options]="listEstado" [(ngModel)]="selectEstado" optionLabel="estado"
          [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>Hora inicio: *</label>
        <p-dropdown id="horaInicio" name="horaInicio" [options]="listHoras" [(ngModel)]="selectHoraIni"
          optionLabel="hora" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="200px"></p-dropdown>
      </div>
      <div class="ui-g-2 ui-md-2">
        <label>Ing. Actividad: </label>
        <p-checkbox id="ingAct" name="ingAct" [(ngModel)]="info.data.ingresar_actividad" binary="true">
        </p-checkbox>
        <label>Ingresar</label>
      </div>
      <div class="ui-g-12 ui-md-12" *ngIf="visibleCampos.campoObserAdmin">
        <label>Observación Administrador: </label>
        <textarea id="obserAdmin" [(ngModel)]="info.data.descripcion_Administrador" name="obserAdmin" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionAdmin" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Observación abogado: </label>
        <textarea id="obserAbogado" [(ngModel)]="info.data.descripcion_abogado" name="obserAbogado" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionAbogado" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Observación cliente: </label>
        <textarea id="obserCliente" [(ngModel)]="info.data.descripcion_cliente" name="obserCliente" rows="2" cols="82"
          [(disabled)]="blockCampos.blockDescripcionCliente" pInputTextarea></textarea>
      </div>
      <div class="ui-g-12 ui-md-12">
        <label>Descripción de la diligencia: </label>
        <textarea id="descripDilig" [(ngModel)]="info.data.descripcion" name="descripDilig" rows="2" cols="82"
          pInputTextarea disabled></textarea>
      </div>
    </div>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">

    <button type="button" pButton icon="fa fa-close" (click)="exitForm()" label="Cancelar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-trash" (click)="deleteNodo()" label="Quitar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-plus-square" (click)="addNodo()" label="Añadir"
      class="ui-button-success"></button>
    <button type="button" pButton icon="fa fa-save" (click)="updateNodo()" label="Guardar"
      [(disabled)]="activaBotonGuardarNodo"></button>
    <!-- <button type="button" pButton icon="fa fa-envelope" (click)="enviarMail()" label="Email"></button> -->
    <button type="button" pButton icon="fa fa-image" (click)="showFormImagenes()" label="Añadir imágenes"></button>
  </div>
</p-dialog>

<p-dialog header="AÑADIR IMÁGENES" [(visible)]="showDialogImagenes" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="700" [closable]="false">
  <form #imagenForm=ngForm>
    <div class="ui-g-4">
      <div style="text-align: center;">
        <img [(src)]="urlImagen1" style="width: 100px; height: 75px;" (click)="showImgen(urlImagen1)">
      </div>
      <div class="ui-g-9">
        <input type="file" #Image1 pButton (change)="cargaImagen($event.target.files,1)" style="width: 155px;">
      </div>
    </div>
    <div class="ui-g-4">
      <div style="text-align: center;">
        <img [(src)]="urlImagen2" style="width: 100px; height: 75px;" (click)="showImgen(urlImagen2)">
      </div>
      <div class="ui-g-9">
        <input type="file" #Image2 pButton (change)="cargaImagen($event.target.files,2)" style="width: 155px;">
      </div>
    </div>
    <div class="ui-g-4">
      <div style="text-align: center;">
        <img [(src)]="urlImagen3" style="width: 100px; height: 75px;" (click)="showImgen(urlImagen3)">
      </div>
      <div class="ui-g-9">
        <input type="file" #Image3 pButton (change)="cargaImagen($event.target.files,3)" style="width: 155px;"
          label="Añadir" value="Añadir">
      </div>
    </div>
  </form>

  <button pButton type="button" (click)="saveImagen()" label="Guardar imágenes"></button>
  <button pButton type="button" (click)="exitImagenes()" label="Cancelar" class="ui-button-danger"></button>
</p-dialog>

<p-dialog header="IMAGEN" [(visible)]="showImagen" [responsive]="true" showEffect="fade" [modal]="true" [width]="600"
  [closable]="false">
  <form>
    <button pButton type="button" (click)="exitShowImage()" label="Salir" class="ui-button-danger"></button>
    <div class="ui-g-4">
      <div style="text-align: center;">
        <img [(src)]="urlImagen" style="width: 400px; height: 700px;">
      </div>
    </div>
  </form>
</p-dialog>

<!-- MODIFICAR PLANTILLA -->

<p-dialog header="MODIFICAR PLANTILLA" [(visible)]="showDialogModPlant" [responsive]="true" showEffect="fade"
  [modal]="true" [width]="1200" [closable]="false">
  <!--  [height]="700" -->
  <div class="ui-g ui-fluid" *ngIf="flujoTreeUpdate">
    <div class="ui-g-12">
      <p><b>Nota: </b>Seleccione un nodo para modificar o agregar.</p>
      <p-tree [value]="flujoTreeUpdate" layout="horizontal" selectionMode="single" [(selection)]="selectNode"
        (onNodeSelect)="selectNodoMod($event)" (onNodeExpand)="loadNodeMod($event)"></p-tree>
    </div>
  </div>
  <button pButton type="button" (click)="updateFlujo()" label="Guardar" icon="fa fa-save"
    [disabled]="blockBotones.guardarCaso"></button>
  <!-- 
  <button pButton type="button" (click)="expandAll()" label="Expandir" class="ui-button-success" [disabled]="blockBotones.expandir"></button>
  <button pButton type="button" (click)="collapseAll()" label="Contraer" class="ui-button-danger" [disabled]="blockBotones.contraer"></button> -->
  <button pButton type="button" (click)="exitArbol()" label="Cancelar" icon="fa fa-close " class="ui-button-danger"
    [disabled]="blockBotones.cancelar"></button>
</p-dialog>

<p-dialog header="MODIFICAR" [(visible)]="showDialogModPlantNodo" [responsive]="true" showEffect="fade" [modal]="true"
  [width]="500" [closable]="false">
  <div class="ui-g ui-fluid" *ngIf="node">
    <div class="ui-g-11 ui-md-11">
      <label>Etiqueta: *</label>
      <input pInputText id="etiqueta" type="text" [(ngModel)]="nodeNew.label" name="etiqueta"
        (ngModelChange)="verificaEtiqueta()" class="form-control input-sm">
    </div>
    <div class="ui-g-11 ui-md-11">
      <label>Descripción de la diligencia: *</label>
      <textarea id="dato" [(ngModel)]="nodeNew.data.descripcion" name="dato" rows="2" cols="44"
        pInputTextarea></textarea>
    </div>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-close" (click)="exit()" label="Cancelar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-trash" (click)="deleteNodoMod()" label="Quitar"
      class="ui-button-danger"></button>
    <button type="button" pButton icon="fa fa-plus-square" (click)="addNodoMod()" label="Añadir"
      class="ui-button-success"></button>
    <button type="button" pButton icon="fa fa-save" (click)="updateNodoMod()" label="Guardar"></button>
  </div>
</p-dialog>