<form>
  <br>
  <p-panel header="ABOGADOS">
    <p>
      <b>Nota:</b> Click en un registro para modificar.</p>
    <p-table #dt [columns]="cols" [value]="listaAbogado" selectionMode="single" [responsive]="true"
      [(selection)]="selectAbogado" (onRowSelect)="onRowSelect($event)" [paginator]="true" [totalRecords]="totalRecords"
      [rows]="paginado">
      <ng-template pTemplate="caption">
        <div class="ui-g">
          <div class="ui-g-4" style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogAdd()" label="Añadir Abogado"></button>
          </div>
          <div class="ui-g-4" style="text-align: right">
            <div class="ui-g-9">
              <label for="float-input">Paginado: *</label>
            </div>
            <div class="ui-g-3">
              <input pInputText type="number" id="paginado" [(ngModel)]="paginado" name="paginado"
                class="form-control  input-sm" min="2" (ngModelChange)="validarPaginado()" required>
            </div>
          </div>
          <div class="ui-g-4" style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="auto" placeholder="Buscar"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" class="ui-resizable-column">
            <span>{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary" let-rowData>

      </ng-template>

    </p-table>

    <p-dialog header="INGRESO ABOGADO" [(visible)]="showDialog" [responsive]="true" showEffect="fade" [modal]="true"
      [width]="700">
      <div class="ui-g ui-fluid" *ngIf="abogado">
        <div class="ui-g-12">
          <form #imagenForm=ngForm>
            <div class="ui-g-4">
              <div style="text-align: center;">
                <img [(src)]="urlImagen" style="width: 200px; height: 175px;">
              </div>
              <div class="ui-g-9">
                <input type="file" #Image pButton (change)="cargaImagen($event.target.files)" style="width: 155px;">
                <!-- <button type="button" pButton icon="fa fa-upload" label="Subir" [disabled]="Image.value==''"></button> -->
              </div>
            </div>
          </form>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input id="cedula" type="text" pInputText id="cedula" [(ngModel)]="abogado.cedula" name="cedula"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                (ngModelChange)="verificaCedula()">
              <label for="float-input">Cédula: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="nombre" [(ngModel)]="abogado.nombre" name="nombre"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 ||
              event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90' maxlength="50" (ngModelChange)="verificaNombres()">
              <label for="float-input">Nombres: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="telefono" [(ngModel)]="abogado.telefono" name="telefono"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                (ngModelChange)="verificaTelefono()" class="form-control input-sm">
              <label for="float-input">Teléfono: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="mail" [(ngModel)]="abogado.mail" name="mail" (ngModelChange)="verificaEmail()"
                class="form-control input-sm">
              <label for="float-input">Email: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="direccion" [(ngModel)]="abogado.direccion" name="direccion"
                (ngModelChange)="verificaDireccion()" class="form-control input-sm">
              <label for="float-input">Dirección: *</label>
            </span>
          </div>

          <div class="ui-g-offset-4 ui-g-8">
            <div class="ui-g-4">
              <label for="color">Sexo: *</label>
            </div>
            <div class="ui-g-8">
              <p-inputSwitch id="sexo" [(ngModel)]="selectSexo" name="sexo" onLabel="Hombre" offLabel="Mujer">
              </p-inputSwitch>
            </div>
          </div>

        </div>

      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="cancelar()" label="Cancelar"
            class="ui-button-danger" [disabled]="blockBotones.cancelar"></button>
          <button type="button" pButton icon="fa fa-save" (click)="addAbogado()" label="Guardar"
            [disabled]="blockBotones.guardar"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dialog header="MODIFICAR ABOGADO" [(visible)]="showDialogMod" [responsive]="true" showEffect="fade"
      [modal]="true" [width]="800">
      <div class="ui-g ui-fluid" *ngIf="selectAbogado">
        <div class="ui-g-12">
          <form #imagenForm=ngForm>
            <div class="ui-g-4">
              <div style="text-align: center;">
                <img [(src)]="urlImagen" style="width: 200px; height: 175px;">
              </div>
              <div class="ui-g-9">
                <input type="file" #Image pButton (change)="cargaImagen($event.target.files)" style="width: 155px;">
                <!-- <button type="button" pButton icon="fa fa-upload" label="Subir" [disabled]="Image.value==''"></button> -->
              </div>
            </div>
          </form>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="cedulaMod" [(ngModel)]="selectAbogado.cedula" name="cedulaMod"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                (ngModelChange)="verificaCedula()" class="form-control input-sm">
              <label for="float-input">Cédula: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="nombreMod" [(ngModel)]="selectAbogado.nombre" name="nombreMod"
                onkeypress='return event.charCode >= 97 && event.charCode <= 122 ||
                  event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90' maxlength="50" (ngModelChange)="verificaNombres()"
                class="form-control input-sm">
              <label for="float-input">Nombres: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="telefonoMod" [(ngModel)]="selectAbogado.telefono" name="telefonoMod"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                (ngModelChange)="verificaTelefono()" class="form-control input-sm">
              <label for="float-input">Teléfono: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText type="email" id="mailMod" [(ngModel)]="selectAbogado.mail" name="mailMod"
                (ngModelChange)="verificaEmail()" class="form-control input-sm">
              <label for="float-input">Email: *</label>
            </span>
          </div>
          <div class="ui-g-8">
            <span class="ui-float-label">
              <input pInputText id="direccionMod" [(ngModel)]="selectAbogado.direccion" name="direccionMod"
                (ngModelChange)="verificaDireccion()" class="form-control input-sm">
              <label for="float-input">Dirección: *</label>
            </span>
          </div>
          <div class="ui-g-offset-4 ui-g-4">
            <div class="ui-g-5">
              <label for="color">Sexo: *</label>
            </div>
            <div class="ui-g-4">
              <p-inputSwitch id="sexoMod" [(ngModel)]="selectSexo" name="sexoMod" onLabel="Hombre" offLabel="Mujer">
              </p-inputSwitch>
            </div>
          </div>
          <div class="ui-g-4">
            <div class="ui-g-5">
              <label for="color">Estado: *</label>
            </div>
            <div class="ui-g-4">
              <p-inputSwitch id="estadoMod" [(ngModel)]="selectEstado" name="estadoMod" onLabel="Activo"
                offLabel="Inactivo"></p-inputSwitch>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="cancelar()" label="Cancelar"
            class="ui-button-danger" [disabled]="blockBotones.cancelar"></button>
          <button type="button" pButton icon="fa fa-save" (click)="updateAbogado()" label="Guardar"
            [disabled]="blockBotones.guardar"></button>
        </div>
      </p-footer>
    </p-dialog>
  </p-panel>
</form>