<br>
<header>
</header>
<!-- <div style="text-align: center">
  <h2>
    <img src="assets/icon.png" style="width: 10%"> Bienvenido al Sistema </h2>
</div>
<br> -->
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div style="width: 100%; height: 100%;" id="calendar">
      <p-schedule [events]="events" [header]="headerConfig" [eventLimit]="4" [editable]="false" locale="es" weekends="false"
        (onDayClick)="showDialogAdd($event)" (onEventClick)="editActividad($event)"></p-schedule>
    </div>
  </div>
</div>

<form>
  <p-dialog header="INGRESO ACTIVIDAD" [(visible)]="showDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="600">
    <div class="ui-g ui-fluid" *ngIf="actividad">
      <div class="ui-g-12  ui-md-12">
        <label for="float-input">Los campos con * son obligatorio: </label>
        <span class="ui-float-label">
          <input pInputText type="text" id="actividad" [(ngModel)]="actividad.actividad" name="actividad" maxlength="50"
            (ngModelChange)="verificaActividad()" class="form-control  input-sm">
          <label for="float-input">Actividad: *</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-calendar id="fechaIni" name="fechaIni" [locale]="es" [(ngModel)]="actividad.fecha_inicio" [showIcon]="true"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
              [disabledDays]="[0,7]" readonlyInput="true"></p-calendar>
            <label for="float-input">Fecha inicio: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">

        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="horaInicio" name="horaInicio" [options]="listHoras" [(ngModel)]="selectHoraIni" optionLabel="hora"
              [showClear]="true" [style]="{'width':'100%'}" scrollHeight="200px"></p-dropdown>
            <label for="float-input">Hora inicio: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-calendar id="fechaFin" name="fechaFin" [locale]="es" [(ngModel)]="actividad.fecha_fin" [showIcon]="true"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
              [disabledDays]="[0,7]" readonlyInput="true"></p-calendar>
            <label for="float-input">Fecha fin: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">

        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="horaFin" name="horaFin" [options]="listHoras" [(ngModel)]="selectHoraFin" optionLabel="hora"
              [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Hora fin: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="priority" name="priority" [options]="listPrioridad" [(ngModel)]="selectPrioridad"
              optionLabel="prioridad" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Seleccione prioridad: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">
        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="abogado" name="abogado" [options]="listAbogado" [(ngModel)]="selectAbogado" optionLabel="nombre"
              [showClear]="true" filter="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Seleccione abogado: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="repetir" name="repetir" [options]="listRepetir" [(ngModel)]="selectRepetir" optionLabel="descripcion"
              [showClear]="true"[style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Repetir: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">
        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="recordatorio" name="recordatorio" [options]="listRecordatorio" [(ngModel)]="selectRecordatorio"
              optionLabel="descripcion" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Recordatorio: *</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="cancelar()" label="Cancelar" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="addActividad()" label="Guardar" class="ui-button-success"></button>
    </div>
  </p-dialog>
</form>
<form>
  <br>
  <br>
  <p-dialog header="MODIFICAR ACTIVIDAD" [(visible)]="showDialogMod" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="600" [height]="520">
    <div class="ui-g ui-fluid" *ngIf="actividad">
      <div class="ui-g-12  ui-md-12">
        <label for="float-input">Los campos con * son obligatorio: </label>
        <span class="ui-float-label">
          <input pInputText type="text" id="actividadMod" [(ngModel)]="actividad.actividad" name="actividadMod"
            maxlength="50" (ngModelChange)="verificaActividad()" class="form-control  input-sm">
          <label for="float-input">Actividad: *</label>
        </span>
      </div>
      <div class="ui-g-12  ui-md-12">
        <div class="ui-g-5  ui-md-5">
          <span class="ui-float-label">
            <p-calendar id="fechaIniMod" name="fechaIniMod" [locale]="es" [(ngModel)]="actividad.fecha_inicio"
              [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy"></p-calendar>
            <label for="float-input">Fecha inicio: *</label>
          </span>
        </div>
        <div class="ui-g-2  ui-md-2">

        </div>
        <div class="ui-g-5  ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="horaInicioMod" name="horaInicioMod" [options]="listHoras" [(ngModel)]="selectHoraIni"
              optionLabel="hora" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="200px"></p-dropdown>
            <label for="float-input">Hora inicio: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-calendar id="fechaFinMod" name="fechaFinMod" [locale]="es" [(ngModel)]="actividad.fecha_fin" [showIcon]="true"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2050" dateFormat="dd/mm/yy" tabindex="0"
              [disabledDays]="[0,7]" readonlyInput="true"></p-calendar>
            <label for="float-input">Fecha fin: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">

        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="horaFinMod" name="horaFinMod" [options]="listHoras" [(ngModel)]="selectHoraFin" optionLabel="hora"
              [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Hora fin: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12  ui-md-12">
        <div class="ui-g-5  ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="priorityMod" name="priorityMod" [options]="listPrioridad" [(ngModel)]="selectPrioridad"
              optionLabel="prioridad" [showClear]="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Seleccione prioridad: *</label>
          </span>
        </div>
        <div class="ui-g-2  ui-md-2">

        </div>
        <div class="ui-g-5  ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="abogadoMod" name="abogadoMod" [options]="listAbogado" [(ngModel)]="selectAbogado"
              optionLabel="nombre" [showClear]="true" filter="true" [style]="{'width':'100%'}" scrollHeight="150px"></p-dropdown>
            <label for="float-input">Seleccione abogado: *</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="repetirMod" name="repetirMod" [options]="listRepetir" [(ngModel)]="selectRepetir"
              optionLabel="descripcion" [showClear]="true" filter="true" [style]="{'width':'100%'}"></p-dropdown>
            <label for="float-input">Repetir: *</label>
          </span>
        </div>
        <div class="ui-g-2 ui-md-2">
        </div>
        <div class="ui-g-5 ui-md-5">
          <span class="ui-float-label">
            <p-dropdown id="recordatorioMod" name="recordatorioMod" [options]="listRecordatorio" [(ngModel)]="selectRecordatorio"
              optionLabel="descripcion" [showClear]="true" filter="true" [style]="{'width':'100%'}"></p-dropdown>
            <label for="float-input">Recordatorio: *</label>
          </span>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="cancelar()" label="Cancelar" class="ui-button-danger"></button>
        <button type="button" pButton icon="fa fa-check" (click)="updateActividad()" label="Modificar" class="ui-button-success" *ngIf="showButton.bttnUpdate"></button>
        <button type="button" pButton icon="fa fa-trash" (click)="deleteActividad()" label="Eliminar" class="ui-button-danger" *ngIf="showButton.bttnDelete"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>