<br>
<br>
<div class="container jumbotron" style="width: 50%; height: 50%;">

  <form #loginForm>
    <div class="row">
      <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-2 col-xs-2">
        <img src="assets/icon.png" style="max-width: 125px">
      </div>
      <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-3 col-xs-0">
      </div>
      <div class="col-md-6 col-xs-12">
        <!-- <p-messages [(value)]="msgs" life="3000"></p-messages> -->
        <p-growl></p-growl>
        <label>
        </label>
        <br>
        <label>Nombre de Usuario:</label>
        <input type="text" placeholder="Nombre de usuario" name="usuario" class="form-control" [(ngModel)]="user.user_name"><br>
        <label>Contraseña:</label>
        <input type="password" placeholder="Contraseña" name="password" class="form-control" [(ngModel)]="user.password"><br>
        <input type="submit" class="btn-primary form-control" value="Ingresar" (click)="login()"><br>
      </div>
      <div class="col-md-3 col-xs-0">
      </div>
    </div>
  </form>
</div>