<br>
<br>
<br>
<br>
<div class="container jumbotron">


  <div class="row">
    <div class="col-md-5 col-xs-5">

    </div>

    <div class="col-md-1 col-xs-1">
      <img src="assets/logo.png">
    </div>

    <div class="col-md-4 col-xs-4">

    </div>
    <div class="col-md-3 col-xs-0">

    </div>
    <div class="col-md-6 col-xs-12">
      <label>

      </label>
      <br>
      <label>Nombre de Usuario:</label>
      <input type="text" placeholder="Nombre de usuario" class="form-control"><br>
      <label>Contraseña:</label>
      <input type="password" placeholder="Contraseña" class="form-control"><br>
      <input type="submit" class="btn-primary form-control" value="Ingresar"><br>


    </div>
    <div class="col-md-3 col-xs-0">

    </div>
  </div>
</div>
