<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="assets/consorcio20.png" /> </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Procesos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Listar Procesos Activos</a>
        </div>
      </li>
    </ul>
    <!-- <ul (click)="openNav()"> <button class=" btn form-control"   ><i class="fa fa-bell" aria-hidden="true" ></i> Notificaciones</button></ul>-->
    <ul class="nav navbar-nav navbar-right">
      <!--<button class="btn form-control" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</button>-->
      <li><a href="#" style="color: white"><i class="fa fa-user" aria-hidden="true"></i> Mi perfil</a></li>
      <li>&nbsp;&nbsp;&nbsp;</li>
      <li><a href="#" style="color: white"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
    </ul>
  </div>
</nav>

<br><br><br>
<div class="container" style="background-color: white">
  <div class="panel" style="background-color: white !important; height: 100%">
    <!--<router-outlet></router-outlet>-->
    <h2>Mis Procesos Judiciales</h2>
    <hr><br>

    <fieldset style="text-align:left; border-left: solid 1px;">
      <legend>Datos de cliente:</legend>
      <p>Your Image:
        <input type="file" name="fileToUpload"></p>
      <p>Image preview</p>
    </fieldset>

    <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  </div>
</div>
<!-- Ver Dialog -->
<p-dialog header="Title" [(visible)]="display" [width]="500" [responsive]="true">
  <p-header>
    Detalles de Proceso
  </p-header>
  <br>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <fieldset>
        <legend>Datos de Cliente:</legend>
      </fieldset>
    </div>

  </div>
  <hr>
  <div class="ui-g-12" style="text-align: center">
    <button type="button" style="font-size: 11px" (click)="saveClient()" class="btn btn-primary">Registrar</button>
    <button type="button" style="font-size: 11px" (click)="showDialog=false" class="btn btn-default">Cancelar</button>
  </div>
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>