.example1 :hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.borde {
  border-style: solid;
  border-width: medium;
  cursor: pointer;
}