<form>
  <p-panel >
    <p-header>
      <h3 class="ui-panel-titlebar">NUEVO CLIENTE</h3><br>
      <div class="row">
      <div class="col-md-10">
      <h6>Los campos marcados con * son obligatorios       </h6>
      </div>
      <div class="col-md-3">
      <div style="text-align: center;"><img src="assets/perfil.png" style="width: 182px; height: 168px;"></div><br>
        <button class="btn btn-primary form-control" value="Subir Foto">Subir Foto</button>
      </div>
      </div>
      <br>
    </p-header>
    <div class="panel-body">


    <div class="row">

        <span class="ui-float-label">
       <input id="float-input " type="text" class="form-control" size="100%" pInputText>
         <label for="float-input">Nombre *</label>
        </span>


    </div>
    <br>
    <div class="row">
    <div class="md-12">


      <span class="ui-float-label">
           <input id="float-input2 " type="text" class="form-control"  size="100%" pInputText>
             <label for="float-input2">Cédula *</label>
            </span>
    </div>
    </div>
    <br>
    <div class="row">

      <span class="ui-float-label">
           <input id="float-input3 " type="text" class="form-control"  size="100%" pInputText>
             <label for="float-input3">Dirección *</label>
            </span>
    </div>
    <br>
    <div class="row">

      <span class="ui-float-label">
           <input id="float-input4 " type="text" class="form-control"  size="100%" pInputText>
             <label for="float-input4">Teléfono *</label>
            </span>
    </div>
      <br>
      <div class="row">

      <span class="ui-float-label">
           <input id="float-input5 " type="text" class="form-control"  size="100%" pInputText>
             <label for="float-input4">Email *</label>
            </span>
      </div>

      <br>
      <div class="row">
        <div class="col-md-5 col-xs-0"></div>
        <div class="col-md-3 right" col-xs-12>
      <button class="form-control btn btn-primary">Ingresar</button>
          </div>
      </div>
    </div>
  </p-panel>
</form>
